@import "compass"



#Cover h2
  color: #FFF
  text-align: left
  font-size: 70px
  margin-left: -64px
  margin-top: -29px
  text-shadow: 0px 0px 3px #000
  .subhead
    display: block
    font-size: 40px

#Intro h2
  font-size: 70px
  line-height: 1.5
  width: 600px
  margin: 0 auto
  left: 0
  right: 0

.slide h3
  font-size: 40px
  font-weight: bold
  .subhead
    font-size: 25px
