<div class="slide bg" id="Cover"><div>
  <section>
    <header>
      <h2>Money for Microapps<br><span class='subhead'>w/ MongoDB and Rails</span></h2>
    </header>
    <div ></div>
    <img src="pictures/lesko.jpg" alt="">
  </section>
</div></div>