<div class="slide bg" id="Cover"><div>
  <section>
    <header>
      <h2>Money for Microapps</h2>
      <h3>w/ Mongo (and Rails)</h3>
    </header>
    <div ></div>
    <img src="pictures/lesko.jpg" alt="">
  </section>
</div></div>