
<div class="slide" id="About3"><div>
  <section>
    <header>
      <h2>Recently worked on...</h2>
    </header>

    <ul>
      <li>
        Zaarly
        <ul>
          <li><a href="http://zaarly.com" target="_blank">http://zaarly.com</a></li>
        </ul>
      </li>

      <li>
        BetterAt
        <ul>
          <li><a href="http://better.at" target="_blank">http://better.at</a></li>
        </ul>
      </li>

      <li>
        WordSquared (scrabb.ly)
        <ul>
          <li><a href="http://wordsquared.com" target="_blank">http://wordsquared.com</a></li>
        </ul>
      </li>

      <li>
        Gist
        <ul>
          <li><a href="http://gist.com" target="_blank">http://gist.com</a></li>
        </ul>
      </li>

      <li>
        <strong>Open Source Contributions:</strong>
        <ul>
          <li>OpenSourceRails, Mongoid, Merb, Rails, jQuery, many others...</li>
        </ul>
      </li>
    </ul>
  </section>
</div></div>