
<div class="slide bg" id="Intro3"><div>
  <section>
    <header>
      <h2>What if we could duct tape it together?</h2>
      <h3>and add a price tag...</h3>
    </header>
    <img src="pictures/duct-tape-batman2.jpg" alt="">
  </section>
</div></div>