
<div class="slide" id="About1"><div>
  <section>
    <header>
      <h2>About Me...</h2>
    </header>

    <div class="about">
      <div class="me"></div>
      <h3>Jacques Crocker</h3>
      <h4>Hyperactive Hacker</h4>
      <h4><a href="http://railsjedi.com" target="_blank">http://railsjedi.com</a></h4>
      <div class="clear"></div>
    </div>

    <div class="social-panels">
      <div class="twitter social-panel">
        <div class="logo"></div>
        <p>
          <a href="http://twitter.com/railsjedi" target="_blank">@railsjedi</a>
        </p>
      </div>

      <div class="github social-panel">
        <div class="logo"></div>
        <p>
          <a href="http://github.com/railsjedi" target="_blank">github.com/railsjedi</a>
        </p>
      </div>

      <div class="angellist social-panel">
        <div class="logo"></div>
        <p>
          <a href="http://angel.co/jacques-crocker" target="_blank">angel.co/jacques-crocker</a>
        </p>
      </div>
    </div>


  </section>
</div></div>