
<div class="slide" id="About4"><div>
  <section>
    <header>
      <h2>Microapps I've launched this year...</h2>
    </header>

    <ul>
      <li>
        Hello There
        <ul>
          <li><a href="http://sayhellothere.com" target="_blank">http://sayhellothere.com</a></li>
        </ul>
      </li>

      <li>
        Hero Scale
        <ul>
          <li><a href="http://heroscale.com" target="_blank">http://heroscale.com</a></li>
        </ul>
      </li>

      <li>
        Diet Picture
        <ul>
          <li><a href="http://dietpicture.com" target="_blank">http://dietpicture.com</a></li>
        </ul>
      </li>

      <li>
        HelpShelf
        <ul>
          <li><a href="http://helpshelf.com" target="_blank">http://helpshelf.com</a></li>
        </ul>
      </li>

    </ul>
  </section>
</div></div>