
<div class="slide" id="About2"><div>
  <section>
    <header>
      <h2>My Current Startup...</h2>
    </header>

    <div class="about">
      <div class="logo"></div>
      <h3>text messages and<br>mobile commerce</h3>
      <h4 class="url"><a href="http://seconds.co" target="_blank">http://seconds.co</a></h4>
    </div>

    <div class="info col1">
      <h4><label>My Position:</label> CTO</h4>
    </div>

    <div class="info col2">
      <h4>
        <label>Funding:</label> <strong>yes, please!</strong><br>
        <a href="http://angel.co/seconds" target="_blank">angel.co/seconds</a>
      </h4>
    </div>

    <div class="clear"></div>

    <div class="tech">
      <h4><label>Technologies:</label></h4>
      <h4>Rails, MongoDB, jQuery, Heroku, Twilio, Stripe</h4>
    </div>
  </section>
</div></div>