<div class="slide" id="ProductDev"><div>
  <section>
    <header>
      <h2>Develop it with...</h2>
    </header>

    <ul>
      <li>Ruby on Rails</li>
      <li>jQuery</li>
      <li>MongoDB</li>
      <li>
        Use the cloud...<br>
        <a href="http://developer.mashery.com/apis">http://developer.mashery.com/apis</a>
      </li>
    </ul>

  </section>
</div></div>