<div class="slide" id="ProductDev"><div>
  <section>
    <header>
      <h2>Product Development</h2>
    </header>

    <ul>
      <li>Ruby on Rails</li>
      <li>jQuery</li>
      <li>MongoDB</li>
      <li>Deployment
        <ul>
          <li>Heroku</li>
          <li>MongoLab</li>
        </ul>
      </li>
    </ul>

  </section>
</div></div>