
<div class="slide" id="Idea2"><div>
  <section>
    <header>
      <h2>Go the "Last Mile"</h2>
    </header>

    <ul>
      <li>Millions of small apps are waiting to be built</li>
      <li>Find something that at least 100 people/businesses would pay monthly</li>
      <li>Build something unique, that just doesn't exist yet, for an industry that has a tools budget</li>
    </ul>
  </section>
</div></div>