<div class="slide" id="Dev4"><div>
  <section>
    <header>
      <h2>Using MongoDB for MicroApps...</h2>
    </header>

    <ul>
      <li>
        just use the mongo driver directly
      </li>
      <li>
        don't bother with complex ORMs (Mongoid, MongoMapper, etc)<br>
        for microapps, they'll just slow you down
      </li>
      <li>
        keep data unstructured, create lots of collections. pull the data you need when you need it
      </li>
    </ul>
  </section>
</div></div>