<div class="slide" id="Distribution"><div>
  <section>
    <header>
      <h2>Get Noticed...</h2>
    </header>

     <ul>
      <li>Google Adwords
        <ul>
          <li>find some low traffic, cheap words</li>
        </ul>

      </li>
      <li>Blogs / Communities
        <ul>
          <li>Hacker News, AppStorm, FeedMyApp</li>
          <li>Attack industry specific forums, blogs, and link sharing sites...</li>
        </ul>
      </li>
      <li>App Stores
        <ul>
          <li>Google Apps, Intuit AppCenter, Salesforce</li>
          <li>Tons of niche app stores..</li>
        </ul>
      </li>
    </ul>

  </section>
</div></div>