<div class="slide" id="Dev3"><div>
  <section>
    <header>
      <h2>MongoDB allows you to....</h2>
    </header>

    <ul>
      <li>focus on the product</li>
      <li>throw a ton of unstructured data into the database</li>
      <li>pull it out, reorganize it when needed</li>
      <li>be crazy, get things done in the fastest, easiest way possible</li>
    </ul>

  </section>
</div></div>