<div class="slide bg" id="Dev3"><div>
  <section>
    <header>
      <h2>I just want a big dumb data store...</h2>
    </header>
    <img src="pictures/fatpacker_sm.jpg" alt="">

  </section>
</div></div>