<div class="slide" id="Dev2"><div>
  <section>
    <header>
      <h2>Why MongoDB?</h2>
    </header>

    <ul>
      <li>really easy to get started</li>
      <li>great dev tools, and learning resources</li>
      <li>dead simple hosting</li>
      <li>schema, can be used as a big dumb simple data store</li>
    </ul>

  </section>
</div></div>