<div class="slide" id="Dev1"><div>
  <section>
    <header>
      <h2>Developing Your App</h2>
    </header>

    <ul>
      <li>Use rapid dev frameworks with active communities
        <ul>
          <li>Ruby on Rails, Sinatra, jQuery, Django, Symfony, others..</li>
        </ul>
      </li>
      <li>
        Use MongoDB
        <ul>
          <li>Obviously...</li>
        </ul>
      </li>
      <li>
        Leverage APIS, outsource as much as possible...<br>
        <a href="http://developer.mashery.com/apis">http://developer.mashery.com/apis</a>
      </li>
    </ul>

  </section>
</div></div>