<div class="slide" id="Distribution"><div>
  <section>
    <header>
      <h2>Distribution Channels</h2>
    </header>

    <ul>
      <li>Google Adwords</li>
      <li>Blogs / Communities
        <ul>
          <li>Hacker News</li>
          <li>AppStorm</li>
          <li>Neobinaries</li>
          <li>FeedMyApp</li>
          <li>SmashingApps</li>
          <li>Tons more...</li>
        </ul>
      </li>
      <li>App Stores
        <ul>
          <li>Google Apps Marketplace</li>
          <li>Chrome App Store</li>
          <li>Intuit AppCenter</li>
          <li>Salesforce</li>
          <li>Lots more niche app stores..</li>
        </ul>
      </li>
    </ul>

  </section>
</div></div>