<div class="slide" id="Virality"><div>
  <section>
    <header>
      <h2>Viral Channels</h2>
    </header>

    <ul>
      <li>Twitter</li>
      <li>Facebook</li>
      <li>Direct Word of Mouth</li>
    </ul>

  </section>
</div></div>