<div class="slide" id="Design1"><div>
  <section>
    <header>
      <h2>Don't skimp on the design.</h2>
    </header>
    <ul>
      <li>Know a designer? <strong>Great!</strong></li>
      <li>
        Otherwise... use <a href="http://themeforest.net" target="_blank">Themeforest</a>
        <ul>
          <li>
            Find a landing page template<br>
            <a href="http://themeforest.net/category/marketing/landing-pages" target="_blank">http://themeforest.net/category/marketing/landing-pages</a>
          </li>
          <li>
            Find an app template<br>
            <a href="http://themeforest.net/category/marketing/landing-pages" target="_blank">http://themeforest.net/category/site-templates/admin-templates</a>
          </li>
          <li>most designs are around $8-20,<br>gives you enough to hack together something awesome</li>
        </ul>
      </li>
    </ul>


  </section>
</div></div>