<div class="slide" id="Monetize2"><div>
  <section>
    <header>
      <h2>Monetize with...</h2>
    </header>

    <div class="about">
      <div class="logo"></div>
      <h3>Stripe</h3>
      <h4><a href="http://stripe.com" target="_blank">http://stripe.com</a></h4>
      <p>great api,<br>insanely easy to get started.<br>no merchant account needed</p>
    </div>


  </section>
</div></div>