<div class="slide" id="Monetize1"><div>
  <section>
    <header>
      <h2>Monetize It</h2>
    </header>

    <ul>
      <li>Charge Money, srsly!</li>
      <li>Target is at least 100 paying customers</li>
      <li>Minimum 14/mo. Ideally around 29/mo</li>
      <li>Give a free trial period (7-21 days)</li>
      <li>Revenue goal: <strong>1K - 10K/mo</strong> for each Microapp</li>
    </ul>
  </section>
</div></div>