<div class="slide" id="Deploy1"><div>
  <section>
    <header>
      <h2>Deploy with...</h2>
    </header>

    <ul>
      <li>Path of least resistance...
        <ul>
          <li>Heroku</li>
          <li>MongoLab</li>
        </ul>
      </li>
    </ul>

    <%# Show Heroku / MongoLab Logos %>

  </section>
</div></div>