
<div class="slide bg" id="Deploy2"><div>
  <section>
    <header>
      <h2>Cloud FTW!</h2>
    </header>

    <%# TODO: cloud api logos here %>

    <img src="pictures/cloud.jpg" alt="">
  </section>
</div></div>