<div class="slide" id="Deploy1"><div>
  <section>
    <header>
      <h2>Deploy with...</h2>
    </header>

    <ul>
      <li><strong>Forget SSH and Bash Scripts</strong></li>
      <li>Use the path of least resistance...
        <ul>
          <li>Heroku + addons</li>
          <li>MongoLab</li>
        </ul>
      </li>
    </ul>

    <%# Show Heroku / MongoLab Logos %>
    <img style="float:left;" src="./pictures/logos/heroku-light.png" />
    <img style="float:left;margin-left:100px" src="./pictures/logos/mongolab.png" />
    <div class="clear"></div>

  </section>
</div></div>