<div class="slide" id="Measure1"><div>
  <section>
    <header>
      <h2>Measure everything</h2>
    </header>

    <ul>
      <li>
        Track all events and use this to tweak features, and figure out what people respond to most.
      </li>
      <li><strong>Usage metrics</strong> (not # of users, or # of pageviews) are the most important
        <ul>
          <li>translates to retention and more money long term.</li>
        </ul>
      </li>
      <li>Easy with...
        <ul>
          <li>Google Analytics</li>
          <li>MixPanel</li>
        </ul>
      </li>

    </ul>


  </section>
</div></div>