
<div class="slide" id="Idea3"><div>
  <section>
    <header>
      <h2>Don't Build....</h2>
      <h3 style="font-size:24px">(for God's Sake)</h3>
    </header>

    <ul>
      <li>Project Management (Basecamp Clone)</li>
      <li>Bug Tracker</li>
      <li>Todo List</li>
      <li>Facebook, Twitter, Groupon</li>
    </ul>

  </section>
</div></div>