
<div class="slide" id="Distribution1"><div>
  <section>
    <header>
      <h2>Build for an App Store...</h2>
    </header>

    <ul>
      <li>Can provides initial dataset, user onboarding, and distribution</li>
      <li>
        A few to check out:
        <ul>
          <li>Google Apps Enterprise<br><a href="http://www.google.com/enterprise/marketplace/" target="_blank">http://www.google.com/enterprise/marketplace/</a></li>
          <li>Intuit AppCenter<br><a href="http://appcenter.intuit.com/" target="_blank">http://appcenter.intuit.com/</a></li>
          <li>Salesforce AppExchange<br><a href="http://appexchange.salesforce.com/" target="_blank">http://appexchange.salesforce.com/</a></li>
        </ul>

      </li>
      <li>... many more small niche directories for enterprise apps</li>
      <li>No silver bullet, but they provide a nice opportunity.</li>
    </ul>

  </section>
</div></div>