
<div class="slide" id="Code"><div>
  <section>
    <header>
      <h2>So let's build something...</h2>
    </header>
    <h3><em>Pitchr</em> <a class='subhead' href="http://github.com/railsjedi/pitchr" target="_blank">http://github.com/railsjedi/pitchr</a></h3>

    <p>
      <strong>Problem:</strong> When cold calling potential clients (via email / phone / etc), would be great to be able to keep track of what pitches you are using and which ones are working the best.
    </p>
    <p>
      <strong>Solution:</strong> Build a simple tool to track pitches, and mark which ones worked on whom.
    </p>
  </section>
</div></div>