
<div class="slide shout" id="Code3"><div>
  <section>
    <header>
      <h2><a href="examples/index.htm" target="_blank">Code Walkthrough</a></h2>
      <h3>Adding Pitches...</h3>
    </header>
  </section>
</div></div>