

<div class="slide" id="Code6"><div>
  <section>
    <header>
      <h2>Deploy It...</h2>
    </header>
    <p class="note">Edit your <code>config/heroku.yml</code></p>
    <pre>
      <code><mark>rake heroku:setup</mark></code>
      <code><mark>rake deploy</mark></code>
    </pre>

    <h3>DONE! <a href="http://getpitchr.com" target="_blank">http://getpitchr.com</a></h3>
  </section>
</div></div>