
<div class="slide shout" id="Code6"><div>
  <section>
    <header>
      <h2><a href="examples/index.htm" target="_blank">Code Walkthrough</a></h2>
      <h3>Deploy it...</h3>

      <%# deploying from scratch... %>
      <%# rake heroku:setup %>
      <%# rake deploy %>
    </header>
  </section>
</div></div>