
<div class="slide" id="end1"><div>
  <section>
    <header>
      <h2>Thank You!</h2>
    </header>

    <ul>
      <li>Ready to launch something?
        <ul>
          <li>Email me, I can help: <a href="mailto:railsjedi@gmail.com">railsjedi@gmail.com</a></li>
        </ul>
      </li>
      <li style="margin-top: 30px">
        Presentation:
        <ul>
          <li>Slides online <a href="http://railsjedi.github.com/mongoseattle2011" target="_blank">http://railsjedi.github.com/mongoseattle2011</a></li>
          <li>Src <a href="http://github.com/railsjedi/mongoseattle2011" target="_blank">http://github.com/railsjedi/mongoseattle2011</a></li>
          <li>Built using Shower <a href="https://github.com/pepelsbey/shower" target="_blank">http://github.com/pepelsbey/shower</a></li>
        </ul>
      </li>
    </ul>
    <div style="font-size:20px">Slideshow images randomly stolen off Google Image Search...</div>
  </section>
</div></div>