<header class="caption">
  <%= link_to "Start Presentation", "?full#Cover", :class => "button primary" %>
  <h1>Money for Microapps<br>w/ Mongo (and Rails)</h1>
  <%# <p>Mongo Seattle 2011</p> %>
</header>

<% slides("slides").each do |slide| %>
  <%= partial slide %>
<% end %>
